# Git e IDEs
.git
.gitignore
.vscode
.idea
__pycache__
*.pyc
*.pyo
*.pyd

# Ambiente virtual
venv
.env
.python-version

# Logs e Dados temporários
logs/
artifacts/
*.log
*.pdf
*.xlsx
*.zip

# Testes e Cache
.pytest_cache
.ruff_cache
tests/
